@import "assets/styles/fonts";
@import "assets/styles/variables";

.app {
  height: 100%;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 24px 18px;
    background-color: $white;
    box-shadow: 0px 0px 10px #EBF0FF;
    &-title {
      color: $black;
      font-family: 'HelveticaNeue';
      font-size: 34px;
    }
    &-link {
      min-width: 55px;
      min-height: 55px;
    }
    &-img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    background-color: $background;
  }
}